@import "../const";

.title {
    margin-bottom: 20px;

    @media (max-width: $md) {
        margin-bottom: 15px;
    }
}

.swiper {
    padding: 0 15px;

    // @media (max-width: $xl) {
    //     padding-left: calc((100% - $md + 30px) / 2);
    // }

    @media (max-width: $md) {
        padding: 0 15px;
    }
}

.swiperSlide {
    width: auto;
    position: relative;
}

.slide {
    transition: $transition;
    width: 644px;
    height: 347px;
    position: relative;

    & > span {
        border-radius: 10px;
    }

    @media (max-width: $xl) {
        width: 277px;
        height: 149px;
    }
}
