@import "../const";

.title {
    margin-bottom: 20px;

    @media (max-width: $md) {
        margin-bottom: 15px;
    }
}

.list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;

    @media (max-width: $md) {
        position: absolute;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.container {
    position: relative;
    height: 55px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        height: 0;
    }

    @media (max-width: $md) {
        overflow: auto;
    }
}

.tag {
    white-space: nowrap;
    padding: 9px 22px;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    border: 1px solid #646464;
    border-radius: 10px;
}

.tagActive {
    background: $gray;
    color: #fff;
}

.swiper {
    padding: 0 15px;

    @media (max-width: $xl) {
        padding-left: calc((100% - $md + 30px) / 2);
    }

    @media (max-width: $md) {
        padding: 0 15px;
    }
}

.swiperSlide {
    width: auto;
    position: relative;
}

.slide {
    transition: $transition;
    width: 644px;
    height: 347px;
    position: relative;

    & > span {
        border-radius: 10px;
    }

    @media (max-width: $xl) {
        width: 277px;
        height: 149px;
    }
}
