@import "../const";

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    position: relative;
    padding-top: 110px;

    @media (max-width: $xl) {
        padding-top: 48px;
    }

    @media (max-width: $md) {
        margin-bottom: 80px;
    }
}

.imgBlock {
    min-width: 452px;
    clip-path: polygon(0% 0%, 0 94%, 30% 100%, 86% 93%, 100% 100%, 100% 0);

    @media (max-width: 452px) {
        margin-left: calc(-1 * ((452px - 100vw) / 2));
    }
}

.content {
    width: 729px;
    background: #fff;
    clip-path: polygon(7% 11%, 88% 0, 100% 89%, 0% 100%);
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin: 10px auto;
    position: relative;
    padding: 40px 30px;
    top: -150px;
    margin-bottom: -130px;

    @media (max-width: $xl) {
        width: -moz-fit-content;
        width: fit-content;
        padding: 23px 35px;
        gap: 8px;
        top: -60px;
        margin-bottom: -40px;
    }

    @media (max-width: $md) {
        margin-bottom: -60px;
    }
}

.title {
    position: relative;
    color: $black;
    font-weight: 700;
    font-size: 56px;
    line-height: 74px;
    z-index: 1;
    text-align: center;

    @media (max-width: $xl) {
        font-size: 26px;
        line-height: 34px;
    }
}

.descr {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: $blue;
    text-align: center;

    @media (max-width: $xl) {
        font-size: 16px;
        line-height: 19px;
    }
}
