@import "../const";

.block {
    padding: 50px 0;
    background: linear-gradient(93.04deg, #fcfcfc 10.53%, #dcdcdc 92.66%);
}

.block2 {
    background: linear-gradient(93.04deg, #dcdcdc 10.53%, #fcfcfc 92.66%);
    padding: 50px 0;
    & .container {
        display: flex;
        flex-direction: row-reverse;
    }
}

.heading {
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.swiper {
    width: 559px;
    text-align: center;
}

.swiperSlide {
    margin-bottom: 20px;
}

.imgBlock {
    position: relative;
    width: 559px;
    height: 301px;
    border-radius: 20px;

    & span {
        border-radius: 20px;
    }
}

.content {
    width: 560px;
    color: $gray;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 10px;
}

.descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.parametrsBlock {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.caption {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $middle-gray;
    margin-bottom: 7px;
}

.value {
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
}

.list {
    margin-bottom: 40px;
}

.listItem {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;

    &::before {
        position: absolute;
        content: "";
        left: 5px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $gray;
        top: 7px;
    }
}

.priceBlock {
    margin-bottom: 20px;
}

.btn {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    background: $blue;
    border-radius: 10px;
    padding: 12px 36px;
}
