@import "../const";

.block {
    padding: 0 15px;
    display: flex;
    margin-bottom: 0;
    justify-content: center;

    @media (max-width: $xl) {
        margin-bottom: 20px;
    }
}

.list {
    display: flex;
    gap: 12px;
}

.crumbActive {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    cursor: pointer;

    &:hover {
        color: $blue;
    }

    &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 1px;
        background: $black;
        right: -8px;
        top: 7px;
    }
}

.crumb {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.span {
    display: flex;
    align-items: center;
}
