@import "../const";

.section {
    padding-top: 60px;
    padding-bottom: 70px;
    margin-bottom: 0;
    background-color: #f4f4f4;

    @media (max-width: $xl) {
        padding-bottom: 80px;
    }

    @media (max-width: $md) {
        padding-bottom: 50px;
    }
}

.title {
    margin-bottom: 20px;
}

.swiper {
    position: relative;
    padding-left: calc((100% - $xl + 30px) / 2);

    @media (max-width: $xl) {
        padding: 0 15px;
    }

    & > div {
        padding-bottom: 60px;
    }
}

.swiperSlide {
    width: auto;
}

.galleryWrapper {
    height: 487px;

    @media (max-width: $xl) {
        height: 468px;
    }
}
